

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-5">
                <img src="/assets/favicon-redondo 96x96pixels.png" alt=""class="favicon d-inline-block align-text-center mt-2">
                <li><a class="nav-link active" aria-current="page" href="#">Acceso</a></li>
                <li><a class="nav-link mr-5" href="mailto:esther@eurogroupbelcaire.com">Contacto</a></li>
            </ul>
        </div>
        <a class="navbar-brand" href="#"><h3 class="me-5">Portal del Empleado</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
       
      
      
    </div>
  </nav>